a { color: #377Ba8; text-decoration: none; }
ul { margin:0; }

.proj { font-weight: bold; }
.main { padding: 0.5em; }
.flash { background: #CEE5F5; padding: 0.5em; border: 1px solid #AACBE2; }
.error { background: #F0D6D6; padding: 0.5em; }
.list { border: 5px solid black; }
